<div class='sample-details-table'>
    <table class='table table-bordered fixed-header sample-table'>
        <thead>
        <tr>
            <th class="sample-start-date-col">Start Date</th>
            <th class="sample-end-date-col">End Date</th>
            <th class="sample-duration-col">Duration<br/>(minutes)</th>
            <th class="sample-target-volume-col">Target<br/>Vol (ml)</th>
            <th class="sample-actual-volume-col">Actual<br/>Vol (ml)</th>
            <th class="sample-volume-diff-col">Diff (ml)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sample in samples | convertTSItemsToArray:'desc'">
            <td class="sample-start-date-col">{{sample.timestamp | date:'MM/dd/yyyy HH:mm:ss Z'}}</td>
            <td class="sample-end-date-col">{{sample.endts | date:'MM/dd/yyyy HH:mm:ss Z'}}</td>
            <td class="sample-duration-col">{{(sample.endts ? ((sample.endts - sample.timestamp)/(1000*60)).toFixed(2) : null)}}</td>
            <td class="sample-target-volume-col">{{sample.targetVolume}}</td>
            <td class="sample-actual-volume-col">{{sample.actualVolume}}</td>
            <td class="sample-volume-diff-col">{{(sample.targetVolume - sample.actualVolume).toFixed(2)}}</td>
        </tr>
        </tbody>
    </table>
</div>
